/* Scritta di benvenuto */
.welcome {
    text-align: center;
    font-size: 40px;
}

.userpng {
    position: absolute;
    right: 8%;
    top: 12%;
    width: 2%;
}

.logoutpng {
    position: absolute;
    right: 4%;
    top: 12%;
    width: 2%;
}

/* Tabella dei film */
.listafilm {
    /* border-spacing: 0 100px; */
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
}

/* Prima riga (grassetto) */
.listafilm th {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

/* Padding tra le colonne */
.listafilm td {
    font-size: 20px;
    padding: 0 90px;
    border: 1px solid black;
    border-radius: 10px;
}

.guarda_ora {
    background-color: #0478D2;
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
}

.guarda_ora:hover {
    opacity: 0.75;
    cursor: pointer;
}

.top_right_panel {
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 0 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.film_label {
    position: absolute;
    top: 12%;
    left: 2%;
}

.film_input {
    position: absolute;
    top: 12%;
    left: 2%;
    width: 20%;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

.film_genre {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 20%;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

.cerca_film {
    position: absolute;
    top: 16%;
    left: 2%;
    background-color: #0478D2;
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
}

.cerca_film:hover {
    opacity: 0.75;
    cursor: pointer;
}

.reset {
    position: absolute;
    top: 16%;
    left: 12%;
    width: 10%;
    background-color: #0478D2;
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
}

.reset:hover {
    opacity: 0.75;
    cursor: pointer;
}

.filtro_genere {
    width: 10%;
    position: absolute;
    top: 16%;
    left: 18%;
}