head {
    font-size: 10px;
}

.card {
    position: absolute;
    left: 15%;
    top: 7%;
    width: 70%;
    height: 500px;
    border: 3px solid black;
    border-radius: 14px !important;
    z-index: -1;
}

/* Colore sopra */
.area1{
    background-color: #3399c2;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    padding-top: 83px !important;
}


.area2 {
    background-color:rgb(210, 245, 245);
    height: 100%;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
}


.image {
    /* Immagine a metà tra i colori */
    top: -65px;
    position: relative;
}

.list-icons li {
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    width: 49px;
    margin-right: 10px
}

.listafilm {
    width: 70%;
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
}

/* Prima riga (grassetto) */
.listafilm th {
    font-size: 20px;
    padding: 20 0;
    border: 1px solid black;
    border-radius: 10px;
}

/* Padding tra le colonne */
.listafilm td {
    font-size: 18px;
    width: 20%;
    padding: 0 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.chat_button {
    width: 60%;
    height: 30px;
    border:none;
    border-radius:5px;
    color:#fff;
    background-color:#1859c9;
    cursor:pointer;
}

.chat_button:hover {
    opacity: 0.75;
}