{% extends "base.html" %}
{% load static %}

{% block children %}

<html>
    
    <title> Catalogo </title>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/catalogo.css' %}">
    </head>

    <body>

        {% for message in messages %}
        <div class="alert success">
            <span class="closebtn">&times;</span>
            {{message}}
          </div>
        {% endfor %}


        <a href="/streamify/account/"><img class="userpng" src="{% static "imgs/user.png" %}" alt="Image"></a>
        <a href="/streamify/home/"><img class="logoutpng" src="{% static "imgs/logout.png" %}" alt="Image"></a>

        <form action="/streamify/cercaFilm/" method="POST">
            {% csrf_token %}
            <input type="text" class="film_input" placeholder="Inserisci titolo" name="film_search" required>
            <a href="/streamify/catalogo/"> <input type="button" class="reset" value="Reset"> </a>
            <input type="submit" class="cerca_film" value="Cerca">
        </form>

        <p class="welcome"> Catalogo </p>
        <br><br><br>

        <table class="listafilm" name="listafilm">
            <tr>
                <th>Titolo </th>
                <th>Genere</th>
                <th>Anno di uscita</th>
                <th>Valutazione</th>
                <th>Link</th>
            </tr>

            {% for film in film_list %}
                <tr>
                    <td> {{film.titolo}} </td>
                    <td>
                        {% for genere in film.generi.all %}
                            {{genere}}
                        {% endfor %}
                    </td>
                    <td> {{film.anno_uscita}} </td>
                    <td> N/A </td>
                    <td>
                        <form action="/streamify/guarda_film/{{film.titolo}}/" method="GET">
                            <button class="guarda_ora" id="guarda_ora">Guardalo!</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>

    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
    </script>
</html>

{% endblock %}