{% extends "base.html" %}
{% load static %}
{% load replace_titles %}

{% block children %}

<html>
    <title> Descrizione Film </title>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/descr_film.css' %}">
    </head>

    <center>
        <h1> <br>
            <font color="white"> {{film.titolo | replace_titles}} </font>
        </h1> <br>

        <table class="listafilm" name="listafilm">
            <tr>
                <th> <h3>Generi:</h3> </th>
                <th><h3>Anno di uscita:</h3></th>
                <th><h3>Trama:</h3></th>
                <th><h3>Media voto:</h3></th>

            <tr>
                <td>
                    {% for genere in film.generi.all %} 
                        {{genere.name | replace_titles}} <br>
                    {% endfor %}
                </td>

                <td>    
                    {{film.anno_uscita}} 
                </td>
                
                <td style="width: 30%;">    
                    {{film.trama}} 
                </td>

                <td>
                    {{film.get_mediavoto}}
                </td>

            </tr>
        </table>

        <div class="container mt-5 mb-5 d-flex justify-content-center">
            <div class="card rounded">
                <div class=" d-block justify-content-center">
                    <div class="area1 p-3 py-5"></div>
                    <div class="area2 p- text-center px-3"></div>
                </div>
            </div>
        </div>

    <a href="/chatify/chat/{{film.titolo}}/">
        <input type="button" class="chat_button" value="Chatta"/>
    </a>


    </center>
    
</html>

{% endblock %}